<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <add key="ConnectionString" value="server=10.1.152.20;Database=kolejadmin;uid=sa;pwd=M@i8956&amp;z;"/>
    <add key="ConnectionPermata" value="server=10.1.152.20;Database=permatapintar;uid=sa;pwd=M@i8956&amp;z;"/>
    <add key="ConnectionUKM3" value="server=10.1.152.20;Database=ukm3;uid=sa;pwd=M@i8956&amp;z;"/>
    <add key="EmailSupport" value="Email: admin@permatapintar.com.my"/>
  </appSettings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="100000000" />
    <sessionState timeout="20"></sessionState>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>

 <system.webServer>
    <httpRedirect enabled="true" destination="https://kppportal.permatapintar.ukm.my" />
  </system.webServer>
  <!--
    <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="100000000" />
    <sessionState timeout="20"></sessionState>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>-->

</configuration>